<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.pdm.g04.se2_1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".HaGreveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/strike_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CompaniesActivity"
            android:label="@string/title_activity_companies" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".StrikeDetailsActivity"
            android:label="@string/title_activity_strike_details"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".provider.HgProvider"
            android:authorities="pt.isel.pdm.g04.se2_1.hgprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="HgProvider"
            android:readPermission="pt.isel.pdm.g04.se2_1.hgprovider.READ"
            android:writePermission="pt.isel.pdm.g04.se2_1.hgprovider.WRITE" />

        <service
            android:name=".HaGreveServices"
            android:exported="false" />

        <receiver android:name=".android3party.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful"/>
        </receiver>
        <receiver android:name=".android3party.OnAlarmReceiver">
        </receiver>

        <receiver
            android:name=".HaGreveSyncReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BatteryStatusReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.isel.pdm.g04.se2_1.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.isel.pdm.g04.se2_1.MainActivity" />
        </activity>
    </application>

</manifest>
